[submodule ".registry"]
	path = .registry
	url = https://github.com/leospeidel/leospeidel.r-universe.dev
	branch = HEAD
[submodule "twigstats"]
	path = twigstats
	url = https://github.com/leospeidel/twigstats
